body{
    background: rgb(0, 255, 242);
    margin-left: 50px;
    margin-right: 100px;
}

header{
    margin-top: 50;
}

h1{
    color: red;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}
p{
    font-size: 18px;
}

img{
    margin: 20px;
}

.imgContato{
    margin: 10px;
}